<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 text-bg-dark d-flex justify-content-around text-center">
    <div class="col mb-4 ">
      <h5>A propos</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-white"><i class="fa-solid fa-circle-info me-2"></i>Qui sommes nous ?</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-white"><i class="fa-solid fa-circle-question me-2"></i>Besoin d'aide ?</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-white"><i class="fa-solid fa-shop me-2"></i>Nos Magasins</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-white"><i class="fa-solid fa-file me-2"></i>CGVs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-white"><i class="fa-solid fa-file me-2"></i>CGUs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-white"><i class="fa-solid fa-file me-2"></i>Mentions légales</a></li>
      </ul>
    </div>

    <div class="col mb-4">
      <h5>Gardons le contact</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"><i class="fa-brands fa-facebook me-2"></i>Facebook</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"><i class="fa-brands fa-linkedin me-2"></i>Linkedin</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"><i class="fa-brands fa-instagram me-2"></i>Instagram</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"><i class="fa-brands fa-twitch me-2"></i>Twitch</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"><i class="fa-brands fa-youtube me-2"></i>Youtube</a></li>
      </ul>
    </div>

    <div class="col mb-4">
      <h5>Paiement sécurisé</h5>
      <ul class="nav flex-row justify-content-center">
        <li class="nav-item mb-2 me-2"><a href="#" class="nav-link p-0 text-white"><i class="fa-brands fa-cc-visa fa-2xl"></i></a></li>
        <li class="nav-item mb-2 me-2"><a href="#" class="nav-link p-0  text-white"><i class="fa-brands fa-cc-paypal fa-2xl"></i></a></li>
        <li class="nav-item mb-2 me-2"><a href="#" class="nav-link p-0  text-white"><i class="fa-brands fa-cc-apple-pay fa-2xl"></i></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-white"><i class="fa-brands fa-bitcoin fa-2xl"></i></a></li>
      </ul>
    </div>
  </footer>