<h1>Réinitialisation du mot de passe</h1>

<p>Bonjour {{ user.firstname }} {{ user.lastname }}</p>

<p>Vous avez demandé la réinitialisation de votre mot de passe, voici le lien
    <a href="{{ url|raw }}">{{ url|raw }}</a>
.</p>